*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

form{
    width: 400px;
    border: 2px black solid;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0 0 5px black solid;
    border-radius: 8px;
}

h1{
    text-align: center;
}

h5{
    text-align: center;
    margin: 5%;
    font-family:'Gill Sans','Trebuchet MS', sans-serif;
}

form div{
    /*border: 2px red solid;*/
    text-align: center;
    margin: 10px 0 10px 0;
    font-weight: bold;
}

form input{
    /*border: 2px red solid;*/
    display: block;
    margin: 5%;
}
label{
    margin: 5%;
}


